<html>
<head>
	<title></title>
</head>
<body>
	<link href="/media/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<link href="/media/css/superfish.css" type="text/css" rel="stylesheet" />
	<link href="/media/css/jquery.mmenu.css" type="text/css" rel="stylesheet" />
	<link href="/media/css/common.css" type="text/css" rel="stylesheet" />
	{module_contentholder,name="Bugherd"}
	<div class="hidden-lg" id="header"><a href="#menu"></a></div>
	<div class="heading-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-23 col-lg-offset-1">
					{% include "/_System/Includes/header.inc" %}
				</div>
			</div>
		</div>
	</div>
	<div class="menu-bg">
		<div class="container">
			<div class="row">
				<div id="menu-wrapper" class="col-lg-23 col-lg-offset-1">
					<div id="menu">
						{module_menu, version="2", menuId="14623", moduleTemplateGroup="Default"}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-18 col-lg-offset-1">
				{tag_pagecontent}
			</div>
			<div class="col-lg-4 col-lg-offset-1">
				{module_menu, version="2", menuId="1641132", moduleTemplateGroup="Side Menu"}
			</div>
		</div>
	</div>
	<div class="promo">
		<div class="container">
			<div class="col-lg-23 col-lg-offset-1">
				<h4>Mindfulness Training Institute Australasia (MTIA)</h4>
			</div>
		</div>
	</div>
	<div class="page-footer">
		<div class="container">
			<div class="col-lg-23 col-lg-offset-1">&copy; 2014 Mindfulness Training Institute Australasia.</div>
		</div>
	</div>
	<!--Required Core Scripts--> 
	<script src="//code.jquery.com/jquery-2.0.3.min.js"></script> 
	<script src="/media/js/bootstrap.min.js"></script> 
	<script src="/media/js/respond.min.js"></script> 
	<script src="/media/js/modernizr-2.7.1.js"></script> 
	<!--Optional Scripts--> 
	<script src="/media/js/hoverIntent.js"></script> 
	<script src="/media/js/superfish.js"></script> 
	<script src="/media/js/jquery.bxslider.min.js"></script> 
	<script src="/media/js/jquery.mmenu.min.js"></script> 
	<script src="/media/js/config.js"></script> 
	{module_contentholder,138917}
</body>
</html>